<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISolicitudService" />
                <binding name="BasicHttpBinding_IApoderadoService" />
                <binding name="BasicHttpBinding_IAlumnoService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:28970/SolicitudService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISolicitudService"
                contract="SolicitudWS.ISolicitudService" name="BasicHttpBinding_ISolicitudService" />
            <endpoint address="http://localhost:28970/ApoderadoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IApoderadoService"
                contract="ApoderadoWS.IApoderadoService" name="BasicHttpBinding_IApoderadoService" />
            <endpoint address="http://localhost:28970/AlumnoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAlumnoService"
                contract="AlumnoWS.IAlumnoService" name="BasicHttpBinding_IAlumnoService" />
        </client>
    </system.serviceModel>
</configuration>